.mainContainer{
    max-width: 88vw;
    margin: 2vh auto;
}

.border-none{
    border: none;
}

.moreInfoContainer{
    border-top: 2px solid rgb(151,206,76);
    display: flex;
    justify-content: space-around;
}

.two-colums{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.moreInfo{
    color: rgb(151,206,76);
}

h4{
    margin: 3vh;
}

.location-pictures{
    margin: 4vh
}

