.card{
    min-width: 18rem;
    margin-bottom: 2vh;
}

.btnContainer{
    display: flex;
    justify-content: space-between;
}

.card-title{
    color: rgb(1,180,198);
}

.card-text{
    margin: 1vh 0vw;
}

.portal{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    margin-bottom: 2vh;
    padding:0%;
}

.portal:hover , .portal:focus , .portal:active{
    -webkit-transform: scale(1.4) rotate(120deg);
    transform: scale(1.4) rotate(120deg);
}

